/*CSS Stylesheet */

body {
	margin: 0;
	background: rgb(240, 240, 240);
	color: #202423;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
}

h2 {
	font-weight: lighter;
}

a {
	text-decoration: none;
	color: blue;
}

a:hover {
	text-decoration: none;
	color: green;
}


/* Custom design */

.container {
	margin: 0;
	padding: 0;
	width: auto;
}

#logo {
	height: 60px;
	width: 200px;
}

#value_proposition {
	background-image: url("https://picsum.photos/1000/600?image=0");
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;
}

#value_proposition h1 {
	color: white;
}

#value_proposition h2 {
	color: white;
}

#value_proposition h3 {
	color: white;
}

#value_proposition a{
	line-height: 30px;	
}

.features {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: row;	
}

.features img{
	height: 80px;
	width: 80px;
}

.features-cards {
	padding: 20px;
}

.form {
	padding: 20px;
}

.footer {
	padding: 20px;
	background-color: rgb(20, 20, 20);
}

.footer a {
	font-size: 20px;
	color: grey;
}

.footer a:hover {
	color: white;
}
