.features-content {
	padding: 20px;
}

.features-header {
	padding: 50px 0 10px 0;
	text-align: center;
}

.features-cards {
	padding: 10px;
	position: relative;
	height: 380px;
}

.features-cards-icon {
	height: 120px;
	width: 135px;
	position: absolute;
	top: 10px;
	left: 50%;
  	margin-left: -60px;
}

.features-cards-description {
	position: absolute;
	top: 180px;
	left: 10px;
}

.features-cards-description h3 {
	text-align: center;
}

.features-cards-description p {
	text-align: center;
}